Repository RubricLab/maige, pull requests merged in 2024-01, with the labels that each got.

#80 Arihan/mar 50 dashboard usage page
  README.md
  app/api/webhook/github/route.ts
  app/dashboard/(base)/usage/[[...metric]]/layout.tsx
  app/dashboard/(base)/usage/[[...metric]]/loading.tsx
  app/dashboard/(base)/usage/[[...metric]]/page.tsx
  app/dashboard/(base)/usage/page.tsx
  app/dashboard/repo/[projectId]/instructions/actions.ts
  app/dashboard/repo/[projectId]/instructions/page.tsx
  bun.lockb
  lib/agents/engineer.ts
  lib/agents/maige.ts
  lib/agents/reviewer.ts
  lib/components/dashboard/Input/TextArea.tsx
  lib/components/dashboard/Instructions/Instructions.tsx
  lib/components/dashboard/Instructions/new-instruction.tsx
  lib/components/dashboard/Navigation/MainNavigation.tsx
  lib/components/dashboard/Navigation/RepoNavigation.tsx
  lib/components/dashboard/usage/chart.tsx
  lib/components/dashboard/usage/charts-links.tsx
  lib/components/dashboard/usage/charts.tsx
  lib/components/dashboard/usage/custom-table.tsx
  lib/components/dashboard/usage/search.tsx
  lib/components/dashboard/usage/table-wrapper.tsx
  lib/components/feedback/actions.tsx
  lib/components/feedback/feedback.tsx
  lib/components/ui/checkbox.tsx
  lib/components/ui/input.tsx
  lib/components/ui/popover.tsx
  lib/components/ui/table.tsx
  lib/components/ui/textarea.tsx
  lib/env.mjs
  lib/hooks/debounce.ts
  lib/tools/dispatchEngineer.ts
  lib/tools/dispatchReviewer.ts
  next.config.mjs
  package.json
  prisma/schema.prisma
  tailwind.config.js
Labels: dashboard, needs screenshot

#88 Feat: usage charts and tables
  README.md
  app/api/webhook/github/route.ts
  app/dashboard/(base)/layout.tsx
  app/dashboard/(base)/page.tsx
  app/dashboard/(base)/usage/[[...metric]]/layout.tsx
  app/dashboard/(base)/usage/[[...metric]]/loading.tsx
  app/dashboard/(base)/usage/[[...metric]]/page.tsx
  app/dashboard/(base)/usage/page.tsx
  app/dashboard/Loader/SpinnerLoader.tsx
  app/dashboard/layout.tsx
  app/dashboard/repo/[projectId]/instructions/actions.ts
  app/dashboard/repo/[projectId]/instructions/page.tsx
  bun.lockb
  lib/agents/engineer.ts
  lib/agents/maige.ts
  lib/agents/reviewer.ts
  lib/components/dashboard/Input/TextArea.tsx
  lib/components/dashboard/Instructions/Instructions.tsx
  lib/components/dashboard/Instructions/new-instruction.tsx
  lib/components/dashboard/Navigation/MainNavigation.tsx
  lib/components/dashboard/Navigation/RepoNavigation.tsx
  lib/components/dashboard/Text/Subtext.tsx
  lib/components/dashboard/usage/chart.tsx
  lib/components/dashboard/usage/charts-links.tsx
  lib/components/dashboard/usage/charts.tsx
  lib/components/dashboard/usage/custom-table.tsx
  lib/components/dashboard/usage/search.tsx
  lib/components/dashboard/usage/table-wrapper.tsx
  lib/components/feedback/actions.tsx
  lib/components/feedback/feedback.tsx
  lib/components/ui/checkbox.tsx
  lib/components/ui/input.tsx
  lib/components/ui/popover.tsx
  lib/components/ui/table.tsx
  lib/components/ui/textarea.tsx
  lib/hooks/debounce.ts
  lib/tests/weaviate.test.ts
  lib/tools/dispatchEngineer.ts
  lib/tools/dispatchReviewer.ts
  next.config.mjs
  package.json
  prisma/schema.prisma
  tailwind.config.js
Labels: enhancement, needs screenshot

#87 Landing page + dashboard UI update
  app/dashboard/layout.tsx
  app/dashboard/repo/[projectId]/page.tsx
  app/layout.tsx
  app/page.tsx
  bun.lockb
  lib/assets/fonts/Monocraft.otf
  lib/assets/full-flow.png
  lib/assets/future.png
  lib/assets/joshua-tree-day.png
  lib/assets/joshua-tree-night.png
  lib/assets/label-flow.png
  lib/assets/silent-runnings.png
  lib/assets/tatooine.png
  lib/components/Auth.tsx
  lib/components/CommandBar.tsx
  lib/components/Footer.tsx
  lib/components/Header.tsx
  lib/components/assets/lines/1.tsx
  lib/components/dashboard/Buttons/SecondaryButton.tsx
  lib/components/dashboard/Buttons/Sun.tsx
  lib/components/dashboard/Input/TextArea.tsx
  lib/components/dashboard/Instructions/Instructions.tsx
  lib/components/dashboard/Instructions/new-instruction.tsx
  lib/components/dashboard/Loader/PanelSkeletons.tsx
  lib/components/dashboard/Metrics/TableWrapper.tsx
  lib/components/dashboard/Navigation/MainNavigation.tsx
  lib/components/dashboard/Repositories/Repositories.tsx
  lib/components/logos/Cal.tsx
  lib/components/logos/Highlight.tsx
  lib/components/logos/Logos.tsx
  lib/components/logos/Maige.tsx
  lib/components/logos/Nuxt.tsx
  lib/components/logos/Precedent.tsx
  lib/components/logos/Trigger.tsx
  lib/components/logos/index.ts
  lib/components/ui/button.tsx
  lib/components/ui/command.tsx
  lib/components/ui/dropdown-menu.tsx
  lib/components/ui/input.tsx
  lib/styles/globals.css
  lib/utils/fonts.ts
  package.json
  tailwind.config.js
Labels: dashboard, 🚨 needs approval, needs screenshot
